/* body {
    background-image: url('./img/map/Tds4.jpg');
    background-repeat: no-repeat !important;
    background-size: 100%;
} */

h1 {
    font-size: 150% !important;
}

.attributes {
    display: inline-block;
    max-width: 25%;
    width: 25%;
    max-height: 200px;
    height: 200px;
}

.profile {
    display: inline-block;
    position: absolute;
    right: 0px;
    max-height: 200px;
    height: 200px;
}

.display-none {
    display: none;
}

.display {
    display: block;
}

#map {
    position: absolute;
    background-image: url('./img/map/Tds4.jpg') !important;
    background-repeat: no-repeat !important;
    width: 700px;
    height: 550px;
    background-size: 700px !important;
}

#caracter {
    position: absolute;
    width: 700px;
    height: 550px;
}

#bag {
    position: absolute;
    right: 0px;
    width: 700px;
    height: 550px;
}

div.display_inline, .display_inline p {
    display: inline;
}

.c_picture {
    background-image: url(https://via.placeholder.com/150) !important;
    float: right;
    width: 150px;
    height: 150px;
}

/* The sidepanel menu */

.sidepanel {
    height: 250px;
    width: 250px;
    position: fixed;
    z-index: 110000000000000000000000000000000000000000000000000000000 !important;
    /* Stay on top */
    top: 200px;
    /* right: -250px; */
    overflow-x: hidden;
    transition: 0.5s;
}

/* Position and style the close button (top right corner) */

.sidepanel .closebtn {
    position: absolute;
    top: 10px;
    left: 3px;
    font-size: 36px;
    /* margin-left: 50px; */
}

.open{
    right: 0px;
}

.close{
    right: -250px;
}

#dicebtn {
    float: right;
}

#openbtn {
    width: 200px;
    display: block;
    position: absolute;
    top: 200px;
    right: 0px;
}